:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
  --accent-color: white;
  --dunkelblazed-color: black;
  --pop-font-size: 44px;
  --zeil-line-height: 56px;
}

div .btn-branding:hover {
  color: var(--dunkelblazed-color);
}

.project-description .btn-branding-outline:hover {
  color: var(--dunkelblazed-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

div .btn-branding,
div .btn-branding:hover {
  background-color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

body {
  font-family: var(--default-font-family) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: #000;
}

p {
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 96px;
  line-height: 1.5;
}

.hero h2 {
  color: #272142;
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero p {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}

.project-description {
  padding: 120px 60px;
}

.project-description h2 {
  font-size: 64px;
}

.project-description .btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

div .btn-branding {
  color: var(--accent-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

footer {
  margin: 60px 0;
}

footer h4 {
  font-size: 48px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--accent-color);
  background-color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: var(--dunkelblazed-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

.benny {
  margin: 50px;
}

@media (max-width: 1024px) {
  .cube-container {
    margin-left: 20px;
    height: 0px;
    line-height: 0;
  }

  .hero h1 {
    font-size: 44px;
    line-height: var(--zeil-line-height);
    font-weight: bold;
  }

  .hero h2 {
    font-size: 24px !important;
    line-height: 1.5;
  }

  .project-description h2 {
    font-size: var(--pop-font-size);
    margin-top: 0px;
    margin-bottom: 30px !important;
  }

  .content h1 {
    font-size: var(--pop-font-size) !important;
    line-height: var(--zeil-line-height) !important;
  }

  p {
    margin-top: 40px;
    margin-bottom: 1px;
  }

  .content-container {
    text-align: center;
    padding: 30px 20px !important;
  }

  .benny {
    margin: 20px 1px;
  }

  .project-description {
    text-align: center;
    padding: 20px;
  }

  nav a {
    font-size: 12px;
  }

  nav .cube {
    margin: 0;
  }

  nav .heading {
    padding: 3px;
  }

  .btn-branding-outline {
    margin-bottom: 60px;
  }

  footer .h4 {
    font-size: 26px;
  }
}

.content-container {
  padding: 60px 20px;
  margin: 30px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 20px;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.cube-container {
  perspective: 1000px;
}

.cube {
  position: relative;
  width: 10px;
  height: 10px;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(45deg);
  animation: rotate 10s infinite linear;
  margin-left: 40px;
  padding: 0px;
}

.face {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 80px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
}

.cube-link {
  padding: 5px;
  margin: 0;
}

.front {
  transform: translateZ(10px);
  background: #9893ff;
}

.back {
  transform: translateZ(-10px) rotateY(180deg);
  background: #6561af;
}

.right {
  transform: rotateY(90deg) translateZ(10px);
  background: white;
}

.left {
  transform: rotateY(-90deg) translateZ(10px);
  background: #f9f7fe;
}

.top {
  transform: rotateX(90deg) translateZ(10px);
  background: rgb(244, 214, 214);
}

.bottom {
  transform: rotateX(-90deg) translateZ(10px);
  background: rgb(251, 197, 206);
}

@keyframes rotate {
  from {
    transform: rotateX(-30deg) rotateY(0);
  }

  to {
    transform: rotateX(-30deg) rotateY(-360deg);
  }
}